/* App.css */

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.header-title {
  color: #2F4F2F;
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: 20px;
  text-align: center;
}

.description-text {
  color: #555;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 30px;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.tab-button {
  padding: 8px 16px;
  border: none;
  background-color: #f1f1f1;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.tab-button.active {
  background-color: #2F4F2F;
  color: white;
}

.tab-button:hover {
  background-color: #3A6B35;
  color: white;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card h3 {
  font-size: 1.2rem;
  color: #2F4F2F;
}

.card p {
  font-size: 0.9rem;
  color: #555;
}
/* In App.css */

.main-title {
  color: #006400; /* Dark green color */
  font-weight: bold;
  font-size: 2.5rem; /* Adjust size as needed */
  text-align: center;
}
